@import "tailwindcss";
@import "@fontsource/poppins/100.css";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/900.css";

/* Sirve para todos, pro hay problemas con el header ya que cuando entras a la pagina el hero
se mueve tambien esos 85px */
/* :root {
  scroll-padding-top: 85px;
} */
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.a-header {
  @apply text-white cursor-pointer md:hover:text-orange transition-all duration-300 max-md:hover:bg-amber-600 max-md:py-2 w-full block text-center;
}
section[id]:not(#home) {
  scroll-margin-top: 80px;
  margin-top: 40px;
}

@theme {
  --color-orange: #ff8800;
  --shadow-orangecenter: 0 0 20px #ff8800;
  --shadow-orangecardabout: 0 -3px 0 0 #ff8800;

  --animate-text: text 2s ease-in-out 0.2s;
  @keyframes text {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  --animate-heroinfo: heroinfo 1500ms ease-in-out;
  @keyframes heroinfo {
    0% {
      opacity: 0;
      transform: translate(-200px, 0);
    }
    100% {
      opacity: 100;
      transform: translate(0, 0);
    }
  }
  --animate-heroimg: heroimg 1500ms ease-in-out;
  @keyframes heroimg {
    0% {
      opacity: 0;
      transform: translate(200px, 0);
    }
    100% {
      opacity: 100;
      transform: translate(0, 0);
    }
  }
  --animate-header: header 1500ms ease-in-out;
  @keyframes header {
    0% {
      opacity: 0;
      transform: translate(0, -100px);
    }
    100% {
      opacity: 100;
      transform: translate(0, 0);
    }
  }
}
